<!--Index view: shows post titles and links to them, @posts defined in app/controllers/posts_controller.rb-->

<h1>All Posts</h1>
<!--iterate over each post in @posts, create a link with the post's title that links to its id-->
<% @posts.each do |post| %>
    <div class="media">
        <!--bootstrap media class info: https://www.w3schools.com/bootstrap/bootstrap_media_objects.asp-->
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to post.title, post %>
                    <!--call link_to with the object to which we're linking as a second argument, the  link_to method will detect the object, parse its id, and create the path using the id-->
            </h4>
        </div>
    </div>
    <% end %>

        <!--Check on route using rails routes | grep 'posts#show'-->