<!--Shows an individual post in view, takes its orders from controllers/post_controller.rb-->

<h1>
    <%= @post.title %>
</h1>

<div class="row">
    <div class="col-md-8">
        <p>
            <%= @post.body %>
        </p>
    </div>
    <div class="col-md-4">
        <!--button that will let you edit the post, edit_post_path is a helper method generated in config/routes.rb by resources:posts-->
        <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
            <!--button that will delete post; passing in method: :delete lets button destroy according to rule found in routes.rb (rake routes in Terminal); tell the button to look scary with some bootstrap; use data hash to prompt user to confirm before deletion-->
            <%= link_to "Delete Post", @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
    </div>
</div>